main
  div.start-box
    h1 Web Shibai
    p This is my experimental web app of building Japanese "Kami shibai" thing, which means story telling using picture cards.
    div.button.btn-start
      span Start
      
div.decorative-waves
  div.wave1
  div.wave2
  div.wave3
  
div.screen-slider